:root {
    --accent-color: #2196f3;
    --first-title-color: #212121;
    --second-title-color: #ffffff;
    --third-title-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-bgc-color: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-------------------------------------HEADER--------------------------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-black {
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}

.header-mailto,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-mailto:hover,
.header-mailto:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/*--------------------------------------HERO--------------------------------------------*/

.hero {
    background-color: var(--hero-bgc-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    background-color: var(--accent-color);

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/*--------------------------------------ABOUT--------------------------------------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-topic {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.about-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}

/*--------------------------------------PICTURE--------------------------------------------*/

.picture-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}

/*--------------------------------------TEAM--------------------------------------------*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}

.team-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}

/*--------------------------------------FOOTER--------------------------------------------*/

.footer {
    background: var(--hero-bgc-color);
}

.footer-address {
    font-style: normal;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-white {
    color: var(--second-title-color);
}

.footer-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.footer-mailto,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color)
}

.footer-map:hover,
.footer-map:focus {
    color: var(--accent-color);
}

.footer-mailto:hover,
.footer-mailto:focus {
    color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

/* -------------------------------------Страница 2 (портфолио)--------------------------------------*/

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    background: #F5F4FA;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    color: var(--second-title-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-title-color);

}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}